*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Inter;
}

a[href],
area,
button:enabled,
link[href],
object,
input:not([type='hidden']):enabled,
select:enabled,
textarea:enabled,
[tabindex],
[draggable] {
  &:focus-visible {
    outline: var(--color-brand-key-light) dashed 2px;
    outline-offset: 3px;
  }
}

dd {
  margin-left: unset;
}
