*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Inter;
}

a[href],
area,
button:enabled,
link[href],
object,
input:not([type='hidden']):enabled,
select:enabled,
textarea:enabled,
[tabindex],
[draggable] {
  &:focus-visible {
    outline: dashed 2px var(--color-brand-key-main);
    outline-offset: 2px;
  }
}

dd {
  margin-left: unset;
}
