*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Inter;
}

*:focus-visible {
  outline: solid 2px var(--color-brand-key-main);
  outline-offset: 2px;
}

input:not([type="button"]):not([type="checkbox"]):not([type="radio"]),
select,
[role="combobox"][tabIndex="0"], // for file input
textarea {
  &:focus-visible {
    border-color: var(--color-brand-key-main);
    outline-width: 1px;
    outline-offset: unset;
  }
}

dd {
  margin-left: unset;
}
